@property --border-bezier {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 24px;
}

@property --border-bezier-smoothing {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

:where(.border-bezier, [data-border-bezier]) {
  --border-bezier: 24px;
  --border-bezier-smoothing: 1;
}

@media (prefers-reduced-motion: reduce) {
  :where(.border-bezier, [data-border-bezier]) {
    transition: none !important;
  }
}
